/* === ESTILOS PARA LA HORA Y FECHA === */
.datetime-display {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff; /* Blanco */
  position: absolute;
  right: 20px; /* Ajusta la posici칩n del lado derecho */
  top: 16px; /* Ajusta la posici칩n desde la parte superior */
  z-index: 10;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para que se vea bien */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para darle m치s visibilidad */
}

/* Estilos para el texto de la fecha y hora */
.datetime-display p {
  margin: 0;
  font-size: 14px; /* Tama침o de texto adecuado */
  text-align: right;
}
